# 04 Input and Output statements

## input()
### > 'input()' function helps in taking input from keyboard. <br/> > input function treats every input as str, so we need to do explicit typecasting

In [4]:
# 'input()' function helps in taking input from keyboard.
# input function treats every input as str, so we need to do explicit typecasting
a=input("Enter something: ")
print(type(a))
b=int(input("Enter something more: "))
print(type(b))

Enter something: 111
<class 'str'>
Enter something more: 222
<class 'int'>

In [1]:
# Program to read two values sperated by space in a single string and extract them
s=input("Input two values separated by space: ")
lst=s.split() #creating a list of string values
print(lst,type(lst))
x=lst[0]
y=lst[1]
print(x,y)

Input two values separated by space: 111 222
['111', '222'] <class 'list'>
111 222

In [3]:
# Program to read two values sperated by comma in a single string and extract them
s=input("Input two values separated by space: ")
lst=s.split(',') #creating a list of string values
print(lst,type(lst))
x=lst[0]
y=lst[1]
print(x,y)

Input two values separated by space: 111,222
['111', '222'] <class 'list'>
111 222

In [7]:
# Program to read mutliple values from keyboard using a single line of Python statement
# Note: here we need to use list comprehension
x,y=[int(x) for x in input("Enter two values separated by a space: ").split()]
print(x,type(x))
print(y,type(y))

Enter two values separated by a space: 111 222
111 <class 'int'>
222 <class 'int'>

In [9]:
# Program to read mutliple values from keyboard using a single line of Python statement
# Note: here we need to use list comprehension
x,y=[int(x) for x in input("Enter two values separated by a comma: ").split(',')]
print(x,type(x))
print(y,type(y))

Enter two values separated by a comma: 111,222
111 <class 'int'>
222 <class 'int'>

## eval()
### > 'eval()' is used to evaluate any expression in the form of a string <br/> > it prints the result of the evaluation of the expression within the string

In [15]:
print(eval('10>20'))
print(eval('10+20+30'))
print(eval(input("enter any number: ")))

False
60
enter any number: 111
111

In [13]:
x=eval(input('Enter anything'))
print(x,type(x))

Enter anything[10,20,30]
[10, 20, 30] <class 'list'>

In [16]:
x=eval(input('Enter anything'))
print(x,type(x))

Enter anything10,20,30
(10, 20, 30) <class 'tuple'>

In [18]:
# eval() can be used to take data of different data types
a,b,c=[eval(x) for x in input('Enter three values of different data types separated by comma: ').split(',')]
print(a,type(a))
print(b,type(b))
print(c,type(c))

Enter three values of different data types separated by comma: 111,'ABCD',12.34
111 <class 'int'>
ABCD <class 'str'>
12.34 <class 'float'>

## print()

In [3]:
# print() function can be passed with any number of arguments
# print() adds a newline automatically at the end of the output
print("Welcome to","Python") #two arguments o/p: Welcome to Python
print("Welcome to"+"Python") #one argument o/p: Welcome toPython

Welcome to Python
Welcome toPython

In [6]:
# using 'sep' attribute we can put a symbol in between the values printed
a,b,c=10,20,30
print("Values:",a,b,c)
print("Values:",a,b,c,sep=':')

Values: 10 20 30
Values::10:20:30

In [7]:
# using 'end' attribute to put the specified separator instead of newline at the end of output
print("Welcome",end=' ')
print("To",end='#')
print("Python")

Welcome To#Python

In [12]:
# print() with formatted string
# formatted strings should contain any or all of the 
# %i : int
# %d : int
# %f : float
# %s : str
# print("formatted string" %(variable list))
age=20
sal=12345.50
nm="Suresh"
print("Age= %d, Salary= %f, Name= %s"%(age,sal,nm))

Age= 20, Salary= 12345.500000, Name= Suresh

In [14]:
nm="Amit"
l=[10,20,30]
print("Name= %s List= %s"%(nm,l))

Name= Amit List= [10, 20, 30]

In [21]:
# String with replacement operator {} 1st form
age=20
sal=12345.50
nm="Suresh"
msg="Age= {}, Salary= {}, Name= {}".format(age,sal,nm)
print(msg)

Age= 20, Salary= 12345.5, Name= Suresh

In [20]:
# String with replacement operator {} 2nd form
age=20
sal=12345.50
nm="Suresh"
msg="Age= {0}, Salary= {1}, Name= {2}".format(age,sal,nm)
print(msg)

Age= 20, Salary= 12345.5, Name= Suresh

In [22]:
# String with replacement operator {} 3rd form
age=20
sal=12345.50
nm="Suresh"
msg="Age= {a}, Salary= {b}, Name= {c}".format(a=age,b=sal,c=nm)
print(msg)

Age= 20, Salary= 12345.5, Name= Suresh