# 08 Tuple
<h3>
 > Tuples are used to store multiple items under a single variable name.
<br/> > Series/Collection: Tuples are one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.
<br/> > Tuples are created using paranthesis (round brackets) : ()
<br/> > Indexable: Tuple items are indexed, the first item has index [0], the second item has index [1] etc.
<br/> > Ordered: Tuples are ordered (they maintain the insertion order)
<br/> > Un-Changeable (Immutable): The tuple is unchangeable, meaning that we cannot change, add, and remove items in a tuple after it has been created.
<br/> > Allow Duplicates: Tuples can have items with the same value.
<br/> > Heterogenous: Tuples can contain elements of different as well as same data types.
<br/> > The tuple() Constructor: It is also possible to use the tuple() constructor when creating a new tuple.
<br/> > Number of elements in Tuple: We need to use the len() function to find the number of elements in a tuple as it does not have any member method to find the length.
</h3>

## Creating a Tuple

In [27]:
t1=() #empty tuple
print(t1,type(t1))
t2=(10,) 
#tuple with one element, here comma is required otherwise 
# it will be treated as int (because of 10)
print(t2,type(t2))
t3=(10,20,30)
print(t3,type(t3))
t4=tuple(["A",10,"B",20]) #creating a Tuple from a List
print(t4,type(t4))
t5=tuple(range(1,11))
print(t5,type(t5))

() <class 'tuple'>
(10,) <class 'tuple'>
(10, 20, 30) <class 'tuple'>
('A', 10, 'B', 20) <class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>

## Traversing a Tuple

In [17]:
t1=(10,20,30,40,50)
print("Data type:",type(t1))
print("Method-1: using print()")
print(t1," Length=",len(t1))
i=0
n=len(t1)
print("Method-2: using while loop and indexing")
while i<n:
    print(t1[i],end=" ")
    i+=1
print("\nMethod-3: using for-in loop")
for x in t1:
    print(x,end=" ")

Data type: <class 'tuple'>
Method-1: using print()
(10, 20, 30, 40, 50)  Length= 5
Method-2: using while loop and indexing
10 20 30 40 50
Method-3: using for-in loop
10 20 30 40 50

## Indexing in Tuples

In [23]:
t1=(10,20,30,40,50,60,70,80,90)
n=len(t1)
i=0
while i<n:
    print(t1[i],"+ve index {} & -ve index {}".format(i,i-n)) # +ve as well as -ve indexing in Tuples
    i+=1
t1[0]=111 # Error as Tuples are immutable

10 +ve index 0 & -ve index -9
20 +ve index 1 & -ve index -8
30 +ve index 2 & -ve index -7
40 +ve index 3 & -ve index -6
50 +ve index 4 & -ve index -5
60 +ve index 5 & -ve index -4
70 +ve index 6 & -ve index -3
80 +ve index 7 & -ve index -2
90 +ve index 8 & -ve index -1

TypeError: 'tuple' object does not support item assignment

## Slicing in Tuples

In [28]:
t1=(10,20,30,40,50,60,70,80,90)
print(t1[::]) # all the elements in forward order
print(t1[::-1]) # all the elements in reverse order
print(t1[1:5]) # all elements from index 1 to 4

(10, 20, 30, 40, 50, 60, 70, 80, 90)
(90, 80, 70, 60, 50, 40, 30, 20, 10)
(20, 30, 40, 50)

## Mathematical operators on Tuple
### + and *

In [36]:
t1=tuple(range(10,100,10)) #elements 10,20,...100
t2=tuple(("A","B","C","D"))
print(t1,type(t1))
print(t2,type(t2))
t3=t1 + t2 # Concatenation of two tuples
print(t3,type(t3))
t4=t1 * 2 # Repetition and Concatenation of a tuple
print(t4,type(t4))

(10, 20, 30, 40, 50, 60, 70, 80, 90) <class 'tuple'>
('A', 'B', 'C', 'D') <class 'tuple'>
(10, 20, 30, 40, 50, 60, 70, 80, 90, 'A', 'B', 'C', 'D') <class 'tuple'>
(10, 20, 30, 40, 50, 60, 70, 80, 90, 10, 20, 30, 40, 50, 60, 70, 80, 90) <class 'tuple'>

## Important functions that can be applied on Tuple as well as Lists
### len(collection_object): Its not a member method, it returns number of elements
### tuple.count(value): Its a member method, it returns the number of times a value is repeated in the Tuple
### tuple.index(value): Its a member method, it returns the index of the value present in the Tuple
### sorted(iterator_object): Its not a member method, it returns the sorted iterator (the iterator should be homogeneous)
### min(iterator_object): Its not a member method, it returns the minimum value in the iterator (the iterator should be homogeneous)
### max(iterator_object): Its not a member method, it returns the maximum value in the iterator (the iterator should be homogeneous)

In [1]:
t1=(40,20,20,30,30,30,10)
print(t1,type(t1))
print("Tuple length:",len(t1))
print("t1.count(30):",t1.count(30))
print("t1.index(40):",t1.index(40))
print("sorted(t1):",sorted(t1)) 
# returns a List object so we need to use the tuple()
t2=tuple(sorted(t1))
print(t2, type(t2))
print("min(t1):",min(t1)) 
#Works only for homogeneous contents in str,list,tuple,set, etc
print("max(t1):",max(t1)) 
#Works only for homogeneous contents in str,list,tuple,set, etc

(40, 20, 20, 30, 30, 30, 10) <class 'tuple'>
Tuple length: 7
t1.count(30): 3
t1.index(40): 0
sorted(t1): [10, 20, 20, 30, 30, 30, 40]
(10, 20, 20, 30, 30, 30, 40) <class 'tuple'>
min(t1): 10
max(t1): 40

## Packing and Unpacking a Tuple

In [13]:
# Packing a Tuple
a=10
b=20
c=30
t1=a,b,c
print(t1,type(t1))

(10, 20, 30) <class 'tuple'>

In [1]:
# Unpacking a Tuple
t1=(10,20,30,40)
a,b,c,d=t1
print("a=",a)
print("b=",b)
print("c=",c)
print("d=",d)
t2=((1,2,3),(4,5,6),(7,8,9)) # nested tuple
for a,b,c in t2: # printing 3 elements at a time
    print(a,b,c)

a= 10
b= 20
c= 30
d= 40
1 2 3
4 5 6
7 8 9

## Tuple Comprehension
### Here we must use the comprehension inside tuple()
### Rest everything is same as list comprehension

In [23]:
t1=tuple(x for x in range(1,11))
print(t1,type(t1))
t2=tuple(x for x in t1 if x%2==0)
print(t2,type(t2))
t3=tuple(x if x%2==0 else 0 for x in t1)
print(t3,type(t3))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>
(2, 4, 6, 8, 10) <class 'tuple'>
(0, 2, 0, 4, 0, 6, 0, 8, 0, 10) <class 'tuple'>

In [4]:
# WAP to reverse a tuple
t1=(10,20,30,40,50)
print(t1[::-1])

(50, 40, 30, 20, 10)

In [7]:
# WAP to print the value 20 from following tuple: t1 = ("Orange", [10, 20, 30], (5, 15, 25))
t1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(t1[1][1])

20

In [10]:
# WAP to create a tuple with single item 50
t1=(50,)
print(t1)

(50,)

In [12]:
# WAP to create a tuple with 4 elements and upack them in 4 variables and print them
t1=(10,20,30,40)
a,b,c,d=t1
print(a,b,c,d)

10 20 30 40

In [13]:
# WAP to swap two tuples
t1=(10,20)
t2=(30,40)
print(t1,t2)
t1,t2=t2,t1
print(t1,t2)

(10, 20) (30, 40)
(30, 40) (10, 20)

In [15]:
# WAP to create a tuple t2 from an existing tuple t1 = (11, 22, 33, 44, 55, 66) 
# by extrating 33,44 & 55 using slicing
t1 = (11, 22, 33, 44, 55, 66)
t2=t1[2:5]
print(t1,t2)

(11, 22, 33, 44, 55, 66) (33, 44, 55)

In [18]:
# WAP to modify the first item (22) of a list inside a following tuple to 222
# t1=(11, [22, 33], 44, 55)
t1=(11, [22, 33], 44, 55)
print(t1)
t1[1][0]=222
print(t1)

(11, [22, 33], 44, 55)
(11, [222, 33], 44, 55)

In [20]:
t1=(40,10,30,20)
print(sorted(t1)) # it results in a List

[10, 20, 30, 40]

In [21]:
l1=[10,20]
l2=[30,40]
print(l1,l2)
l1,l2=l2,l1
print(l1,l2)

[10, 20] [30, 40]
[30, 40] [10, 20]