<h3>14 Database Programming with MySQL in Python</h3>
<h4>
> MySQL is a database management system (DBMS) more appropriately an RDBMS (relational DBMS) that helps us to maintain data in the form of columns and rows.
<hr/> > Database: A database is a collection of tables. 
<br/> > Tables: A table is contains data in the form of rows and columns.
<br/> > SQL queries: SQL(Structured Query Language)
<br/> > SQL is Structured Query Language, which is a computer language for storing, manipulating and retrieving data stored in a relational database.
<br/> > SQL is the standard language for Relational Database System. All the Relational Database Management Systems (RDMS) like MySQL, MS Access, Oracle, Sybase, etc. use SQL as their standard database language.
<br/> > We will use the "MySQL Connector" to connect to MySQL server.
<br/> > We can run the following command in the command prompt to install "MySQL Connector":
<br/> >>> python -m pip install mysql-connector-python

</h4>

<h4>Testing MySQL in python</h4>

In [1]:
import mysql.connector
# If the above code is executed with no errors then
# "MySQL Connector" is installed and ready to be used.

<h4>01 Creating a Connection</h4>
<h5>Establishing a connection with RDMS system enables us to perform operations like:
<br/> > Create a database
<br/> > Delete a database
<br/> > Create tables in the database
<br/> > Delete tables in the database
<br/> > Perform CRUD(Create, Read, Update, and Delete) operations on data present in the tables in the database
<br/> > Steps:
<br/> >>> 1) import mysql.connector
<br/> >>> 2) Use connect() method to connect to the database
</h5>

In [11]:
# Creating a Connection using connect()
import mysql.connector as ctr
mydb=ctr.connect(
    host="localhost",
    user="root",
    password=""
)
print(mydb)
# if the above does not produce any error then our connection
# is established successfully
print("Connection established with MySQL")

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000238963577C0>
Connection established with MySQL

<h4>02 Creating a Database</h4>
<h5>A database is a collection of tables and each table is a collection of rows and columns where we store our data.
<br/> SQL query: "CREATE DATABASE database_name"
<br/> > Steps:
<br/> >>> 1) import mysql.connector
<br/> >>> 2) Use connect() method to connect to the database, it returns a connection object
<br/> >>> 3) Create a cursor object using connection object's cursor() method
<br/> >>> 4) Execute SQL queries using the cursor's execute() method
</h5>

In [13]:
# Creating a Database, SQL query: "CREATE DATABASE database_name""
import mysql.connector as ctr
mydb=ctr.connect(
    host="localhost",
    user="root",
    password=""
)
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE mydb1") # firing the sql command
# if the above does not produce any error then our 
# database is created successfully
print("Database created successfully")

Database created successfully

<h4>02(a) Listing the names of all the Databases present in MySQL</h4>
<h5>Every database should have a unique name, duplicate databases cannot exist.
<br/> SQL query: "SHOW DATABASES"
<br/> > Steps:
<br/> >>> 1) import mysql.connector
<br/> >>> 2) Use connect() method to connect to the database, it returns a connection object
<br/> >>> 3) Create a cursor object using connection object's cursor() method
<br/> >>> 4) Execute SQL queries using the cursor's execute() method
<br/> >>> 5) Iterate through the cursor object using for-in loop
</h5>

In [14]:
# Listing the names of all the databases, SQL query: "SHOW DATABASES"
import mysql.connector as ctr
mydb=ctr.connect(
    host="localhost",
    user="root",
    password=""
)
mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASES") # firing the sql command
for n in mycursor:
    print(n)

('information_schema',)
('mydb1',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

<h4>02(b) Listing the names of all the tables present in a database</h4>
<h5>Every table should have a unique name in a database, duplicate tables cannot exist.
<br/> SQL query: "SHOW TABLES"
<br/> > Steps:
<br/> >>> 1) import mysql.connector
<br/> >>> 2) Use connect() method to connect to the database, it returns a connection object
<br/> >>> 3) Create a cursor object using connection object's cursor() method
<br/> >>> 4) Execute SQL queries using the cursor's execute() method
<br/> >>> 5) Iterate through the cursor object using for-in loop
</h5>

In [18]:
# Listing names of all the tables in a database
import mysql.connector as ctr
mydb=ctr.connect(
    host="localhost",
    user="root",
    password="",
    database="mydb1"
)
mycursor=mydb.cursor()
mycursor.execute("SHOW TABLES")
for n in mycursor:
    print(n)
# Presently nothing is displayed 
# as there are no tables present in "MyDB1"

<h4>03 Creating a Table</h4>
<h5>A table is a collection of rows and columns.
<br/> > Each row represents a record of information
<br/> > All the rows have some common relationship with each other, and all the tables in a database are somehow related to each other, that's why the name "Relational Database" is used in RDBMS
<br/> > SQL query: "CREATE TABLE table_name(column1 datatype1, column2 datatype2,...,column(n) datatype(n))"
<br/> > Steps:
<br/> >>> 1) import mysql.connector
<br/> >>> 2) Use connect() method to connect to the database, it returns a connection object
<br/> >>> 3) Create a cursor object using connection object's cursor() method
<br/> >>> 4) Execute SQL queries using the cursor's execute() method
</h5>

In [15]:
# Creating a Table in database
import mysql.connector as ctr
mydb=ctr.connect(
    host="localhost",
    user="root",
    password="",
    database="mydb1"
)
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE Table1(Uname varchar(20),Pswd varchar(20))")
print("Table created successfully")

Table created successfully

<h4>03(a) Creating a Table with a Primary key that auto increments</h4>
<h5>A primary key is a column that can contain only unique values so duplicates are not allowed in that column.
<br/> > We can create a primary key that automatically increments so naturally this column will contain unique values.
<br/> > Each table can only have one primary key.
<br/> > SQL query: "CREATE TABLE table_name(column1 int AUTO_INCREMENT PRIMARY KEY, column2 datatype2,...,column(n) datatype(n))"
<br/> > Steps:
<br/> >>> 1) import mysql.connector
<br/> >>> 2) Use connect() method to connect to the database, it returns a connection object
<br/> >>> 3) Create a cursor object using connection object's cursor() method
<br/> >>> 4) Execute SQL queries using the cursor's execute() method
</h5>

In [13]:
# Creating a Table with Primary key
import mysql.connector as ctr
mydb=ctr.connect(
    host="localhost",
    user="root",
    password="",
    database="mydb1"
)
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE Table2(id INT AUTO_INCREMENT PRIMARY KEY,Uname varchar(50), Pswd varchar(50))")
print("Table created successfully")

Table created successfully

<h4>03(b) Listing all the Tables present in the database</h4>
<h5>SQL query: "SHOW TABLES"
<br/> > Steps:
<br/> >>> 1) import mysql.connector
<br/> >>> 2) Use connect() method to connect to the database, it returns a connection object
<br/> >>> 3) Create a cursor object using connection object's cursor() method
<br/> >>> 4) Execute SQL queries using the cursor's execute() method
<br/> >>> 5) Iterate through the cursor object using for-in loop
</h5>

In [16]:
# Displaying names of all the Tables present in a database
import mysql.connector as ctr
mydb=ctr.connect(
    host="localhost",
    user="root",
    password="",
    database="mydb1"
)
mycursor=mydb.cursor()
mycursor.execute("SHOW TABLES")
print("Tables present in database: mydb1")
for n in mycursor:
    print(n)

Tables present in database: mydb1
('table1',)
('table2',)

<h4>04 Removing a table from database</h4>
<h5>SQL query-1: "DROP TABLE table_name"
<br/> SQL query-2: "DROP TABLE IF EXISTS table_name"
<br/> >>> this query would avoid displaying any error if the table is already deleted or if it does not exist
<br/> > Steps:
<br/> >>> 1) import mysql.connector
<br/> >>> 2) Use connect() method to connect to the database, it returns a connection object
<br/> >>> 3) Create a cursor object using connection object's cursor() method
<br/> >>> 4) Execute SQL queries using the cursor's execute() method
<br/> >>> 5) Commit the changes done in the database using connection object's commit() method
</h5>

In [17]:
# Removing a Table from database
import mysql.connector as ctr
mydb=ctr.connect(
    host="localhost",
    user="root",
    password="",
    database="mydb1"
)
mycursor=mydb.cursor()
# mycursor.execute("DROP TABLE Table1")
mycursor.execute("DROP TABLE IF EXISTS Table1")
mydb.commit()
print("Table removed successfully")

Table removed successfully

<h4>05 Inserting rows(data) into a table (Method-1)</h4>
<h5>SQL query-1: "INSERT INTO table_name(column1,column2,...,column(n)) VALUES(val1,val2,...,val(n))"
<br/> >>> we use this when there is an auto-increment column, here we mention the names of those columns who are not auto-increment
<br/> SQL query-2: "INSERT INTO table_name VALUES(val1,val2,...,val(n))"
<br/> >>> here we should ensure that values for every column is provided otherwise exception will be generated
<br/> > Steps:
<br/> >>> 1) import mysql.connector
<br/> >>> 2) Use connect() method to connect to the database, it returns a connection object
<br/> >>> 3) Create a cursor object using connection object's cursor() method
<br/> >>> 4) Execute SQL queries using the cursor's execute() method
<br/> >>> 5) Commit the changes done in the database using connection object's commit() method
</h5>

In [5]:
# Inserting one row in the Table
import mysql.connector as ctr
mydb=ctr.connect(
    host="localhost",
    user="root",
    password="",
    database="mydb1"
)
mycursor=mydb.cursor()
mycursor.execute("INSERT INTO Table2(Uname,Pswd) VALUES('user1','123')")
mydb.commit() # required to persist the changes
print("Row data inserted in table")
print("ID of the last inserted row: ",mycursor.lastrowid)

Row data inserted in table
ID of the last inserted row:  9

<h4>05(a) Inserting a row(data) into a table (Method-2)</h4>
<h5>SQL query: "INSERT INTO table_name(column1,column2,...,column(n)) VALUES(%s,%d,...)"
<br/> >>> %s is for strings, %d for integers, %f for floating point
<br/> >>> the values provided should match with the data-type of the column
<br/> >>> the actual values that would replace the %format should be provided in a separate tuple
<br/> > Steps:
<br/> >>> 1) import mysql.connector
<br/> >>> 2) Use connect() method to connect to the database, it returns a connection object
<br/> >>> 3) Create a cursor object using connection object's cursor() method
<br/> >>> 4) Execute SQL queries using the cursor's execute() method
<br/> >>> 5) Commit the changes done in the database using connection object's commit() method
</h5>

In [6]:
# Inserting one row in the Table using query and values separately
import mysql.connector as ctr
mydb=ctr.connect(
    host="localhost",
    user="root",
    password="",
    database="mydb1"
)
mycursor=mydb.cursor()
qry="INSERT INTO Table2(Uname,Pswd) VALUES(%s,%s)"
vals=("user2","234")
mycursor.execute(qry,vals)
mydb.commit() # required to persist the changes
print("Row(data) inserted successfully")
print("Row ID of the last inserted row:",mycursor.lastrowid)

Row(data) inserted successfully
Row ID of the last inserted row: 10

<h4>05(b) Inserting multiple rows(data) into a table (Method-3)</h4>
<h5>SQL query: "INSERT INTO table_name(column1,column2,...,column(n)) VALUES(%s,%d,...)"
<br/> >>> %s is for strings, %d for integers, %f for floating point
<br/> >>> the values provided should match with the data-type of the column
<br/> >>> multiple tuples in a list can be provided to provide data for multiple rows
<br/> > Steps:
<br/> >>> 1) import mysql.connector
<br/> >>> 2) Use connect() method to connect to the database, it returns a connection object
<br/> >>> 3) Create a cursor object using connection object's cursor() method
<br/> >>> 4) Execute SQL queries using the cursor's executemany() method
<br/> >>> 5) Commit the changes done in the database using connection object's commit() method
</h5>

In [8]:
# Inserting multiple rows in the Table
import mysql.connector as ctr
mydb=ctr.connect(
    host="localhost",
    user="root",
    password="",
    database="mydb1"
)
mycursor=mydb.cursor()
sql="INSERT INTO Table2(Uname,Pswd) VALUES(%s,%s)"
vals=[
    ("abc","111"),
    ("efg","222"),
    ("ijk","333"),
    ("mno","444")
]
mycursor.executemany(sql,vals)
mydb.commit() # required to persist the changes
print("All rows inserted successfully")

All rows inserted successfully

<h4>06 Reading row data from table</h4>
<h5>SQL query: "SELECT * FROM table_name"
<br/> >>> to fetch only one row we use cursor.fetchone()
<br/> > Steps:
<br/> >>> 1) import mysql.connector
<br/> >>> 2) Use connect() method to connect to the database, it returns a connection object
<br/> >>> 3) Create a cursor object using connection object's cursor() method
<br/> >>> 4) Execute SQL queries using the cursor's execute() method
<br/> >>> 5) Use the cursor obeject's fetchone() method
</h5>

In [13]:
# Reading the first row from table
import mysql.connector as ctr
mydb=ctr.connect(
    host="localhost",
    user="root",
    password="",
    database="mydb1"
)
mycursor=mydb.cursor()
mycursor.execute("SELECT * FROM Table2")
res=mycursor.fetchone()
print(res)

(1, 'user1', '123')

<h4>06(i) Reading all the rows from table</h4>
<h5>SQL query: "SELECT * FROM table_name"
<br/> >>> to fetch all rows either we use cursor.fetchall()
<br/> > Steps:
<br/> >>> 1) import mysql.connector
<br/> >>> 2) Use connect() method to connect to the database, it returns a connection object
<br/> >>> 3) Create a cursor object using connection object's cursor() method
<br/> >>> 4) Execute SQL queries using the cursor's execute() method
<br/> >>> 5) Use the cursor object's fetchall() method, which returns a list of tuples with all rows of a query result set.
<br/> >>> 6) Iterate through the returned list of tuples (resultset)
</h5>

In [22]:
import mysql.connector as ctr
mydb=ctr.connect(
    host="localhost",
    user="root",
    password="",
    database="mydb1"
)
mycursor=mydb.cursor()
mycursor.execute("SELECT * FROM Table2")
res=mycursor.fetchall()
for n in res:
    print(n)

(1, 'user1', '123')
(4, 'user2', '234')
(5, 'abc', '111')
(6, 'efg', '222')
(7, 'ijk', '333')
(8, 'mno', '444')
(9, 'user1', '123')
(10, 'user2', '234')
(11, 'abc', '111')
(12, 'efg', '222')
(13, 'ijk', '333')
(14, 'mno', '444')
(15, 'abc', '111')
(16, 'efg', '222')
(17, 'ijk', '333')
(18, 'mno', '444')

<h4>06(ii) Reading rows with specific columns from table</h4>
<h5>SQL query: "SELECT col1,col2,... FROM table_name"
<br/> > Steps:
<br/> >>> 1) import mysql.connector
<br/> >>> 2) Use connect() method to connect to the database, it returns a connection object
<br/> >>> 3) Create a cursor object using connection object's cursor() method
<br/> >>> 4) Execute SQL queries using the cursor's execute() method
<br/> >>> 5) Iterate through the cursor object to view the resultset or we can use the fetchall() method.
</h5>

In [1]:
import mysql.connector as ctr
mydb=ctr.connect(
    host="localhost",
    user="root",
    password="",
    database="mydb1"
)
mycursor=mydb.cursor()
mycursor.execute("SELECT id,uname FROM Table2")
for n in mycursor: # or we can use fetchall() instead of for
    print(n)

(1, 'user1')
(4, 'user2')
(5, 'abc')
(6, 'efg')
(7, 'ijk')
(8, 'mno')
(9, 'user1')
(10, 'user2')
(11, 'abc')
(12, 'efg')
(13, 'ijk')
(14, 'mno')
(15, 'abc')
(16, 'efg')
(17, 'ijk')
(18, 'mno')

<h4>06(iii) Reading rows with specific conditions from table</h4>
<h5>SQL query: "SELECT * FROM table_name WHERE condition"
<br/> > Steps:
<br/> >>> 1) import mysql.connector
<br/> >>> 2) Use connect() method to connect to the database, it returns a connection object
<br/> >>> 3) Create a cursor object using connection object's cursor() method
<br/> >>> 4) Execute SQL queries using the cursor's execute() method
<br/> >>> 5) Use the cursor object's fetchall() method, which returns a list of tuples with all rows of a query result set.
<br/> >>> 6) Iterate through the returned list of tuples (resultset)
</h5>

In [6]:
import mysql.connector as ctr
mydb=ctr.connect(
    host="localhost",
    user="root",
    password="",
    database="mydb1"
)
mycursor=mydb.cursor()
mycursor.execute("SELECT * FROM table2 WHERE Uname='user1' and Pswd='123'")
result=mycursor.fetchall()
for r in result:
    print(r)

(1, 'user1', '123')
(9, 'user1', '123')

<h4>06(iv) Reading Column names from a table</h4>
<h5>SQL query: "SELECT * FROM table_name" 
<br/>cnames_list=cursor.column_names()
<br/> > Steps:
<br/> >>> 1) import mysql.connector
<br/> >>> 2) Use connect() method to connect to the database, it returns a connection object
<br/> >>> 3) Create a cursor object using connection object's cursor() method
<br/> >>> 4) Execute SQL queries using the cursor's execute() method
<br/> >>> 5) Use the cursor object's column_names attribute to read the column names in the form of tuple
</h5>

In [20]:
import mysql.connector as ctr
mydb=ctr.connect(
    host="localhost",
    user="root",
    password="",
    database="mydb1"
)
mycursor=mydb.cursor()
mycursor.execute("SELECT * FROM Table2")
print(mycursor.column_names)

('id', 'Uname', 'Pswd')

<h4>06(v) Reading rows in Ascending/Descending order</h4>
<h5>SQL query #1: "SELECT * FROM table_name ORDER BY col_name"
<br/>SQL query #2: "SELECT * FROM table_name ORDER BY col_name DESC"
<br/> > Steps:
<br/> >>> 1) import mysql.connector
<br/> >>> 2) Use connect() method to connect to the database, it returns a connection object
<br/> >>> 3) Create a cursor object using connection object's cursor() method
<br/> >>> 4) Execute SQL queries using the cursor's execute() method
<br/> >>> 5) Use the cursor object's fetchall() or fetchmany(number) method, which returns a list of tuples with all rows of a query result set.
<br/> >>> 6) Iterate through the returned list of tuples (resultset)
</h5>

In [36]:
import mysql.connector as ctr
mydb=ctr.connect(
    host="localhost",
    user="root",
    password="",
    database="mydb1"
)
mycursor=mydb.cursor()
mycursor.execute("SELECT * FROM Table2 ORDER BY Uname")
result=mycursor.fetchmany(5) # fetching only first five rows
print("In Ascending order of column Uname")
for n in result:
    print(n)
mycursor.reset() # we need to reset the cursor as its being already used
mycursor.execute("SELECT * FROM Table2 ORDER BY Uname DESC")
result=mycursor.fetchmany(5)
print("In Descending order of column Uname")
for n in result:
    print(n)

In Ascending order of column Uname
(11, 'abc', '111')
(15, 'abc', '111')
(5, 'abc', '111')
(16, 'efg', '222')
(6, 'efg', '222')
In Descending order of column Uname
(4, 'user2', '234')
(10, 'user2', '234')
(1, 'user1', '123')
(9, 'user1', '123')
(14, 'mno', '444')

<h4>07 Updating records in a Table</h4>
<h5>SQL query: "UPDATE table_name SET column_name=new_value WHERE condition"
<br/>>>> if WHERE clause is not used then all the row data in the specified column will be updated 
<br/> > Steps:
<br/> >>> 1) import mysql.connector
<br/> >>> 2) Use connect() method to connect to the database, it returns a connection object
<br/> >>> 3) Create a cursor object using connection object's cursor() method
<br/> >>> 4) Execute SQL queries using the cursor's execute() method
<br/> >>> 5) Use the cursor object's fetchall() method, which returns a list of tuples with all rows of a query result set.
<br/> >>> 6) Iterate through the returned list of tuples (resultset)
</h5>

In [38]:
import mysql.connector as ctr
mydb=ctr.connect(
    host="localhost",
    user="root",
    password="",
    database="mydb1"
)
mycursor=mydb.cursor()
mycursor.execute("UPDATE Table2 SET Uname='New User' WHERE Id=1")
mydb.commit() # required to persist the changes
mycursor.reset()
mycursor.execute("SELECT * FROM Table2 WHERE Id=1")
result=mycursor.fetchall()
print(result)

[(1, 'New User', '123')]

<h4>08 Deleting records in a Table</h4>
<h5>SQL query: "DELETE FROM table_name WHERE condition"
<br/>>>> if WHERE clause is not used then all the records will be deleted
<br/> > Steps:
<br/> >>> 1) import mysql.connector
<br/> >>> 2) Use connect() method to connect to the database, it returns a connection object
<br/> >>> 3) Create a cursor object using connection object's cursor() method
<br/> >>> 4) Execute SQL queries using the cursor's execute() method
<br/> >>> 5) Commit the changes done in the database using connection object's commit() method 
</h5>

In [42]:
import mysql.connector as ctr
mydb=ctr.connect(
    host="localhost",
    user="root",
    password="",
    database="mydb1"    
)
mycursor=mydb.cursor()
mycursor.execute("DELETE FROM Table2 WHERE Id=2")
mydb.commit() # required to persist the changes
mycursor.reset()
mycursor.execute("SELECT * FROM Table2 ORDER BY Id")
result=mycursor.fetchmany(5) # fetching first 5 rows
for n in result:
    print(n)

(1, 'New User', '123')
(4, 'user2', '234')
(5, 'abc', '111')
(6, 'efg', '222')
(7, 'ijk', '333')