<h4>16 Pandas</h4>
<h5>> Pandas is a Python library.
<br/>> Pandas is used to analyze data.
<br/>> It has functions for analyzing, cleaning, exploring, and manipulating data.
<br/>> Pandas allows us to analyze data sets and make conclusions based on statistical theories.
<br/>> Pandas can clean messy data sets, and make them readable and relevant.
<br/>> For installing pandas library we use the following code:
<br/>>>> pip install pandas
<br/>> For using pandas library we use the following code:
<br/>>>> import pandas as pd
<br/>>>> now using pd. we can call all the pandas functions
</h5>

In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-1.5.1-cp310-cp310-win_amd64.whl (10.4 MB)
     --------------------------------------- 10.4/10.4 MB 10.7 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in d:\python installed\lib\site-packages (from pandas) (1.23.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.6-py2.py3-none-any.whl (498 kB)
     ------------------------------------- 498.1/498.1 kB 10.4 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.5.1 pytz-2022.6
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

<h4>1) Pandas Series</h4>
<h5>> A Pandas Series is like a column in a table.
<br/>> It is a one-dimensional array holding data of any type.
<br/>> We can use pandas.Series() function to create a pandas series.
<br/>> Every value present in pandas series has a unique label, using which we can access the elements.
<br/>> We can specify our own labels or else the values are labeled with their index number. First value has index 0, second value has index 1 etc.
<br/>> To access elements from a pandas series we use:
<br/>>>> series[label]
</h5>

In [51]:
# Creating a pandas series from a list
# pandas.Series(list)
import pandas as pd
l1=[10,20,30,40,50,60]
s1=pd.Series(l1)
print(s1,type(s1))

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64 <class 'pandas.core.series.Series'>

In [7]:
# Accessing elements using labels
# using Series[index]
import pandas as pd
l1=[10,20,30,40,50,60]
s1=pd.Series(l1)
print(s1[2],s1[5]) # 30 60

30 60

In [9]:
# Creating our own labels using index=["idx1","id2",...] argument
import pandas as pd
l1=[10,20,30]
s1=pd.Series(l1,index=["L1","L2","L3"])
print(s1)
# Accessing elements using labels
print(s1["L2"]) # 20

L1    10
L2    20
L3    30
dtype: int64
20

In [13]:
# Creating pandas series from a dictionary
# using pandas.Series(dictionary) method
import pandas as pd
d1={
    "Name":"AMIT",
    "Rno":111,
    "Dept":"CSE",
    "Addr":"Durg",
    "Phone":1234567890
}
s1=pd.Series(d1)
print(s1)

Name           AMIT
Rno             111
Dept            CSE
Addr           Durg
Phone    1234567890
dtype: object

In [14]:
# Creating pandas series of selected data from a dictionary
# using index=["col1","col2"...] parameter
import pandas as pd
Student={
    "Name":"AMIT",
    "Rno":111,
    "Dept":"CSE",
    "Addr":"Durg",
    "Phone":1234567890
}
s1=pd.Series(Student,index=["Name","Addr"])
print(s1)

Name    AMIT
Addr    Durg
dtype: object

<h4>2) Pandas DataFrame</h4>
<h5>> Data sets in Pandas are usually multi-dimensional tables, called DataFrames.
<br/>> Series is like a single column but a DataFrame is the whole table with rows and columns.
<br/>> Syntax: pandas.DataFrame(ndarray/Iterable/dict/DataFrame)
<br/>> By default the row labels/indexes are labelled from 0 onwards
</h5>

In [19]:
# Creating a pandas dataframe from a dictionary
# using pandas.DataFrame(dictionary) method
import pandas as pd
Students={
    "Name":["Amit","Sumit","Lata","Suresh"],
    "Roll":[111,222,333,444],
    "Dept":["CSE","CSE(DS)","CSE(AI)","IT"]
}
df1=pd.DataFrame(Students)
# the keys become the column names 
# and each element from each list becomes row data
print(df1)

     Name  Roll     Dept
0    Amit   111      CSE
1   Sumit   222  CSE(DS)
2    Lata   333  CSE(AI)
3  Suresh   444       IT

In [24]:
# Using columns parameter to add only selected columns 
# from the dictionary to the DataFrame
import pandas as pd
Students={
    "Name":["Amit","Sumit","Lata","Suresh"],
    "Roll":[111,222,333,444],
    "Dept":["CSE","CSE(DS)","CSE(AI)","IT"]
}
df1=pd.DataFrame(Students,columns=["Name","Dept"])
print(df1)

     Name     Dept
0    Amit      CSE
1   Sumit  CSE(DS)
2    Lata  CSE(AI)
3  Suresh       IT

In [1]:
# Locating specific row(s) from a DataFrame
# using DataFrame.loc[index] to locate one row
# using DataFrame.loc[[rowindex1,rowsindex2,...]] to locate multiple rows
# we can perform slicing using DataFrame.loc[start:end]
# the slice includes 'start' as well as 'end' indexes
import pandas as pd
Students={
    "Name":["Amit","Sumit","Lata","Suresh"],
    "Roll":[111,222,333,444],
    "Dept":["CSE","CSE(DS)","CSE(AI)","IT"]
}
df1=pd.DataFrame(Students)
print(df1)
# locating 2nd row
print(df1.loc[1]) 
# locating rows with 0 and 2 index
print(df1.loc[[0,2]]) 
# locating row index 0 to 2 using slicing
# when using loc[start:end], the end index is also included in the result
print(df1.loc[0:2]) 
# locating a single cell data: df.loc[row_index,column_name]
print(df1.loc[1,"Name"])

     Name  Roll     Dept
0    Amit   111      CSE
1   Sumit   222  CSE(DS)
2    Lata   333  CSE(AI)
3  Suresh   444       IT
Name      Sumit
Roll        222
Dept    CSE(DS)
Name: 1, dtype: object
   Name  Roll     Dept
0  Amit   111      CSE
2  Lata   333  CSE(AI)
    Name  Roll     Dept
0   Amit   111      CSE
1  Sumit   222  CSE(DS)
2   Lata   333  CSE(AI)
Sumit

<h4>3) Pandas DataFrame created from a csv file</h4>
<h5>> Syntax: pandas.read_csv("csv_file_name.csv")
</h5>

In [41]:
# Creating a DataFrame from a csv file 
# using pandas.read_csv("csv_file_name.csv") method
# file name: "NIFTY50_EOD.csv"
import pandas as pd
df1=pd.read_csv("NIFTY50_EOD.csv")
print(df1)

           Date      Open      High       Low     Close    Shares Traded  \
0   03-Oct-2022  17102.10  17114.65  16855.55  16887.35        285850587
1   04-Oct-2022  17147.45  17287.30  17117.30  17274.30        231601639
2   06-Oct-2022  17379.25  17428.80  17315.65  17331.80        268239320
3   07-Oct-2022  17287.20  17337.35  17216.95  17314.65        216273136
4   10-Oct-2022  17094.35  17280.15  17064.70  17241.00        234005512
5   11-Oct-2022  17256.05  17261.80  16950.30  16983.55        282617982
6   12-Oct-2022  17025.55  17142.35  16960.05  17123.60        256037322
7   13-Oct-2022  17087.35  17112.35  16956.95  17014.35        266438674
8   14-Oct-2022  17322.30  17348.55  17169.75  17185.70        226997138
9   17-Oct-2022  17144.80  17328.55  17098.55  17311.80        212223419
10  18-Oct-2022  17438.75  17527.80  17434.05  17486.95        239493630
11  19-Oct-2022  17568.15  17607.60  17472.85  17512.25        210480869
12  20-Oct-2022  17423.10  17584.15  17421.00  17563.95        249604832
13  21-Oct-2022  17622.85  17670.15  17520.75  17576.30        277702680
14  24-Oct-2022  17736.35  17777.55  17707.40  17730.75         45029477
15  25-Oct-2022  17808.30  17811.50  17637.00  17656.35        251358203
16  27-Oct-2022  17771.40  17783.90  17654.50  17736.95        324649088
17  28-Oct-2022  17756.40  17838.90  17723.70  17786.80        250030113
18  31-Oct-2022  17910.20  18022.80  17899.90  18012.20        227174539
19  01-Nov-2022  18130.70  18175.80  18060.15  18145.40                -

   Turnover (Rs. Cr)
0           21860.54
1           18480.43
2           20404.46
3           17043.26
4           16220.67
5           22178.37
6           18098.41
7           18189.64
8           17813.47
9           16887.83
10          18224.95
11          17200.79
12          18345.60
13          23547.38
14           3772.49
15          20338.32
16          24166.30
17          19099.59
18          19846.47
19                 -

In [45]:
# Selecting specific columns to read from csv file into the DataFrame
# using usecols=["col1","col2",...] parameter
import pandas as pd
df1=pd.read_csv("NIFTY50_EOD.csv",usecols=["Date","Open","High"])
print(df1)

           Date      Open      High
0   03-Oct-2022  17102.10  17114.65
1   04-Oct-2022  17147.45  17287.30
2   06-Oct-2022  17379.25  17428.80
3   07-Oct-2022  17287.20  17337.35
4   10-Oct-2022  17094.35  17280.15
5   11-Oct-2022  17256.05  17261.80
6   12-Oct-2022  17025.55  17142.35
7   13-Oct-2022  17087.35  17112.35
8   14-Oct-2022  17322.30  17348.55
9   17-Oct-2022  17144.80  17328.55
10  18-Oct-2022  17438.75  17527.80
11  19-Oct-2022  17568.15  17607.60
12  20-Oct-2022  17423.10  17584.15
13  21-Oct-2022  17622.85  17670.15
14  24-Oct-2022  17736.35  17777.55
15  25-Oct-2022  17808.30  17811.50
16  27-Oct-2022  17771.40  17783.90
17  28-Oct-2022  17756.40  17838.90
18  31-Oct-2022  17910.20  18022.80
19  01-Nov-2022  18130.70  18175.80

In [46]:
# Reading specific number of rows from csv file into the DataFrame
# using nrows=n parameter
import pandas as pd
df1=pd.read_csv("NIFTY50_EOD.csv",nrows=7)
print(df1)

          Date      Open      High       Low     Close  Shares Traded  \
0  03-Oct-2022  17102.10  17114.65  16855.55  16887.35      285850587
1  04-Oct-2022  17147.45  17287.30  17117.30  17274.30      231601639
2  06-Oct-2022  17379.25  17428.80  17315.65  17331.80      268239320
3  07-Oct-2022  17287.20  17337.35  17216.95  17314.65      216273136
4  10-Oct-2022  17094.35  17280.15  17064.70  17241.00      234005512
5  11-Oct-2022  17256.05  17261.80  16950.30  16983.55      282617982
6  12-Oct-2022  17025.55  17142.35  16960.05  17123.60      256037322

   Turnover (Rs. Cr)
0           21860.54
1           18480.43
2           20404.46
3           17043.26
4           16220.67
5           22178.37
6           18098.41

In [47]:
# Reading specific number of rows and columns 
# from csv file into the DataFrame
# using nrows=n and usecols=["col1","col2",...] parameters
import pandas as pd
df1=pd.read_csv("NIFTY50_EOD.csv",nrows=7,usecols=["Date","Open"])
print(df1)

          Date      Open
0  03-Oct-2022  17102.10
1  04-Oct-2022  17147.45
2  06-Oct-2022  17379.25
3  07-Oct-2022  17287.20
4  10-Oct-2022  17094.35
5  11-Oct-2022  17256.05
6  12-Oct-2022  17025.55

In [53]:
# Reading top and bottom rows from the DataFrame
# using DataFrame.head(n) and DataFrame.tail(n) methods
# default value of n=5
import pandas as pd
df1=pd.read_csv("NIFTY50_EOD.csv")
print(df1.head(3))
print(df1.tail(3))

          Date      Open      High       Low     Close    Shares Traded  \
0  03-Oct-2022  17102.10  17114.65  16855.55  16887.35        285850587
1  04-Oct-2022  17147.45  17287.30  17117.30  17274.30        231601639
2  06-Oct-2022  17379.25  17428.80  17315.65  17331.80        268239320

  Turnover (Rs. Cr)
0          21860.54
1          18480.43
2          20404.46
           Date     Open     High       Low    Close    Shares Traded  \
17  28-Oct-2022  17756.4  17838.9  17723.70  17786.8        250030113
18  31-Oct-2022  17910.2  18022.8  17899.90  18012.2        227174539
19  01-Nov-2022  18130.7  18175.8  18060.15  18145.4                -

   Turnover (Rs. Cr)
17          19099.59
18          19846.47
19                 -

In [71]:
# Viewing a particular column from the DataFrame
# using DataFrame["column_name"]
import pandas as pd
df1=pd.read_csv("NIFTY50_EOD.csv")
print(df1["Open"])

0     17102.10
1     17147.45
2     17379.25
3     17287.20
4     17094.35
5     17256.05
6     17025.55
7     17087.35
8     17322.30
9     17144.80
10    17438.75
11    17568.15
12    17423.10
13    17622.85
14    17736.35
15    17808.30
16    17771.40
17    17756.40
18    17910.20
19    18130.70
Name: Open, dtype: float64

In [75]:
# Viewing data from the DataFrame based on some criteria
# using DataFrame[condition involving the DataFrame["col"]]
import pandas as pd
df1=pd.read_csv("NIFTY50_EOD.csv")
print(df1[df1["Open"]>17700])

         Date      Open      High       Low     Close  Shares Traded  \
14  24-Oct-22  17736.35  17777.55  17707.40  17730.75     45029477.0
15  25-Oct-22  17808.30  17811.50  17637.00  17656.35    251358203.0
16  27-Oct-22  17771.40  17783.90  17654.50  17736.95    324649088.0
17  28-Oct-22  17756.40  17838.90  17723.70  17786.80    250030113.0
18  31-Oct-22  17910.20  18022.80  17899.90  18012.20    227174539.0
19  01-Nov-22  18130.70  18175.80  18060.15  18145.40            NaN

    Turnover (Rs. Cr)
14            3772.49
15           20338.32
16           24166.30
17           19099.59
18           19846.47
19                NaN

In [81]:
# Viewing data present in a particular cell in the DataFrame
# using DataFrame.loc[row_index,"column_name"]
import pandas as pd
df1=pd.read_csv("NIFTY50_EOD.csv")
print(df1.loc[14,"Open"])

17736.35
Date                  24-Oct-22
Open                   17736.35
High                   17777.55
Low                     17707.4
Close                  17730.75
Shares Traded        45029477.0
Turnover (Rs. Cr)       3772.49
Name: 14, dtype: object

<h4>4) Analyzing data in the DataFrame</h4>

In [88]:
# Viewing the column names in the DataFrame
# using DataFrame.columns property
import pandas as pd
df1=pd.read_csv("NIFTY50_EOD.csv")
print(df1.columns)

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Shares Traded',
       'Turnover (Rs. Cr)'],
      dtype='object')

In [89]:
# Viewing the row indexes in the DataFrame
# using DataFrame.index property
import pandas as pd
df1=pd.read_csv("NIFTY50_EOD.csv")
print(df1.index)

RangeIndex(start=0, stop=20, step=1)

In [58]:
# Using DataFrame.info() method to view some basic information
# about the dataset
import pandas as pd
df1=pd.read_csv("NIFTY50_EOD_Cleaning.csv")
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               20 non-null     object
 1   Open               16 non-null     object
 2   High               15 non-null     object
 3   Low                15 non-null     object
 4   Close              15 non-null     object
 5   Shares Traded      19 non-null     float64
 6   Turnover (Rs. Cr)  19 non-null     float64
dtypes: float64(2), object(5)
memory usage: 1.2+ KB
None

In [62]:
# Using DataFrame.describe() method to view some 
# basic statistical information about the dataset
# it provides statistical information about only those columns
# that have all the data in proper format and with non empty cells 
import pandas as pd
df1=pd.read_csv("NIFTY50_EOD.csv")
print(df1.describe())

               Open          High           Low        Close  Shares Traded  \
count     20.000000     20.000000     20.000000     20.00000   1.900000e+01
mean   17450.630000  17522.100000  17361.852500  17443.80000   2.397794e+08
std      320.909926    307.708909    345.166409    338.45686   5.539745e+07
min    17025.550000  17112.350000  16855.550000  16887.35000   4.502948e+07
25%    17146.787500  17285.512500  17090.087500  17227.17500   2.270858e+08
50%    17401.175000  17478.300000  17368.325000  17409.37500   2.496048e+08
75%    17741.362500  17779.137500  17641.375000  17674.95000   2.673390e+08
max    18130.700000  18175.800000  18060.150000  18145.40000   3.246491e+08

       Turnover (Rs. Cr)
count          19.000000
mean        18511.524737
std          4222.399346
min          3772.490000
25%         17507.130000
50%         18345.600000
75%         20371.390000
max         24166.300000

<h4>5) Handling missing data in the DataFrame</h4>
<h5>Following tasks can be done for cleaning the DataFrame
<br/>> (i) Removing rows containing empty cells 
<br/>> using: DataFrame.dropna()
<br/>> (ii) Replace empty cells with some specific value 
<br/>> using: DataFrame.fillna()
<br/>> (iii) Replace empty cells with mean/median/mode values 
<br/>> using: DataFrame.fillna()
</h5>

In [65]:
# Observing the contents of "NIFTY50_EOD_Cleaning.csv"
# that contains some missing, repeated and data in wrong format
# We will use this for the purpose of cleaning
import pandas as pd
df1=pd.read_csv("NIFTY50_EOD_Cleaning.csv")
print(df1)

         Date        Open        High         Low       Close  Shares Traded  \
0   03-Oct-22     17102.1         NaN    16855.55    16887.35    285850587.0
1   04-Oct-22    17147.45     17287.3     17117.3     17274.3    231601639.0
2   06-Oct-22     "17200"         NaN  "17315.65"         NaN    268239320.0
3   07-Oct-22     17287.2    17337.35    17216.95    17314.65    216273136.0
4   10-Oct-22         NaN  "17280.15"         NaN       17241    234005512.0
5   11-Oct-22  "17256.05"     17261.8     16950.3  "16983.55"    282617982.0
6   12-Oct-22         NaN    17142.35         NaN     17123.6    256037322.0
7   13-Oct-22    17087.35    17112.35    16956.95         NaN    266438674.0
8   14-Oct-22     17322.3         NaN    17169.75     17185.7    226997138.0
9   17-Oct-22     17144.8    17328.55         NaN     17311.8    212223419.0
10  18-Oct-22  "17438.75"     17527.8         NaN    17486.95    239493630.0
11  19-Oct-22         NaN     17607.6    17472.85         NaN    210480869.0
12  20-Oct-22     17423.1         NaN       17421    17563.95    249604832.0
13  21-Oct-22    17622.85  "17280.15"         NaN         NaN    277702680.0
14  24-Oct-22         NaN    17777.55     17707.4    17730.75     45029477.0
15  25-Oct-22     17808.3   "17811.5"       17637         NaN    251358203.0
16  27-Oct-22     17771.4         NaN     17654.5    17736.95    324649088.0
17  28-Oct-22     17756.4     18022.8     17723.7        Amit    250030113.0
18  31-Oct-22     17756.4     18022.8     17723.7      Harish    227174539.0
19  01-Nov-22     17756.4     18022.8     17723.7       Nitin            NaN

    Turnover (Rs. Cr)
0            21860.54
1            18480.43
2            20404.46
3            17043.26
4            16220.67
5            22178.37
6            18098.41
7            18189.64
8            17813.47
9            16887.83
10           18224.95
11           17200.79
12           18345.60
13           23547.38
14            3772.49
15           20338.32
16           24166.30
17           19099.59
18           19846.47
19                NaN

In [92]:
# (i) Removing rows containing empty cells
# using DataFrame.dropna(inplace=False) method
import pandas as pd
df1=pd.read_csv("NIFTY50_EOD_Cleaning.csv")
# inplace=True would perform changes in the calling object
df1.dropna(inplace=True)
print(df1)

         Date      Open      High         Low       Close  Shares Traded  \
1   04-Oct-22  17147.45  17287.30    17117.30   "17274.3"    231601639.0
3   07-Oct-22  17287.20  17337.35    17216.95  "17314.65"    216273136.0
5   11-Oct-22  17256.05  17261.80    16950.30    16983.55    282617982.0
7   13-Oct-22  17087.35  17112.35    16956.95    17014.35    266438674.0
9   17-Oct-22  17144.80  17328.55  8888888.00     17311.8    212223419.0
11  19-Oct-22  17568.15  17607.60    17472.85    17512.25    210480869.0
13  21-Oct-22  17622.85  17670.15    17520.75     17576.3    277702680.0
15  25-Oct-22  17808.30  17811.50    17637.00    17656.35    251358203.0
17  28-Oct-22  17756.40  17838.90    17723.70     17786.8    250030113.0
18  31-Oct-22  17910.20  18022.80    17899.90     18012.2    227174539.0

    Turnover (Rs. Cr)
1            18480.43
3            17043.26
5            22178.37
7            18189.64
9            16887.83
11           17200.79
13           23547.38
15           20338.32
17           19099.59
18           19846.47

In [93]:
# (ii) Replace empty cells with some specific value
# using DataFrame.fillna(new_value,inplace=False)
import pandas as pd
df1=pd.read_csv("NIFTY50_EOD_Cleaning.csv")
df1.fillna(18000,inplace=True)
print(df1.head())

        Date      Open      High          Low       Close  Shares Traded  \
0  03-Oct-22  17102.10  18000.00   9999999.00  "16887.35"    285850587.0
1  04-Oct-22  17147.45  17287.30     17117.30   "17274.3"    231601639.0
2  06-Oct-22  17379.25  18000.00   9999999.00   "17331.8"    268239320.0
3  07-Oct-22  17287.20  17337.35     17216.95  "17314.65"    216273136.0
4  10-Oct-22  17094.35  18000.00  88888888.00       17241    234005512.0

   Turnover (Rs. Cr)
0           21860.54
1           18480.43
2           20404.46
3           17043.26
4           16220.67

In [91]:
# (iii) Replace empty cells with mean() value
# using DataFrame.fillna(DataFrame["col"].mean(),inplace=False)
# or using DataFrame["col"].fillna(DataFrame["col"].mean(),inplace=False)
# we can use the mean() method only when all the data is numeric
# any other type of data like string or null would result an error
import pandas as pd
df1=pd.read_csv("NIFTY50_EOD_Cleaning.csv")
meanop=df1["Open"].mean()
print("Mean of 'Open' column= ",meanop)
df1.fillna(meanop,inplace=True)
print(df1.head())

Mean of 'Open' column=  17450.63
        Date      Open      High          Low       Close  Shares Traded  \
0  03-Oct-22  17102.10  17450.63   9999999.00  "16887.35"    285850587.0
1  04-Oct-22  17147.45  17287.30     17117.30   "17274.3"    231601639.0
2  06-Oct-22  17379.25  17450.63   9999999.00   "17331.8"    268239320.0
3  07-Oct-22  17287.20  17337.35     17216.95  "17314.65"    216273136.0
4  10-Oct-22  17094.35  17450.63  88888888.00       17241    234005512.0

   Turnover (Rs. Cr)
0           21860.54
1           18480.43
2           20404.46
3           17043.26
4           16220.67

<h4>6) Correcting the format or data-type in the DataFrame</h4>
<h5>Following tasks can be done for cleaning the DataFrame
<br/>> (i) Converting date in string to date-time format 
<br/>> using: pandas.to_datetime(dataframe["col"])
<br/>> (ii) Converting numeric in string to numeric format 
<br/>> using: pandas.to_numeric(dataframe["col"])
</h5>

In [146]:
#(i) Converting date in string to date-time format 
# using: pandas.to_datetime(dataframe["col"])
import pandas as pd
df1=pd.read_csv("NIFTY50_EOD_Cleaning.csv")
print(df1["Date"].info()) # before conversion it is of object type
df1["Date"]=pd.to_datetime(df1["Date"])
print(df1["Date"].info()) # after conversion it is of datetime type

<class 'pandas.core.series.Series'>
RangeIndex: 20 entries, 0 to 19
Series name: Date
Non-Null Count  Dtype
--------------  -----
20 non-null     object
dtypes: object(1)
memory usage: 288.0+ bytes
None
<class 'pandas.core.series.Series'>
RangeIndex: 20 entries, 0 to 19
Series name: Date
Non-Null Count  Dtype
--------------  -----
20 non-null     datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 288.0 bytes
None

C:\Users\Admin\AppData\Local\Temp\ipykernel_10732\778834508.py:6: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df1["Date"]=pd.to_datetime(df1["Date"])

In [148]:
#(ii) Converting numeric in string to numeric format 
# using: pandas.to_numeric(dataframe["col"])
import pandas as pd
df1=pd.read_csv("NIFTY50_EOD_Cleaning.csv")
print(df1["Close"].info()) # before conversion it is of object type
df1["Close"]=pd.to_numeric(df1["Close"])
print(df1["Date"].info()) # after conversion it is of numeric type

<class 'pandas.core.series.Series'>
RangeIndex: 20 entries, 0 to 19
Series name: Close
Non-Null Count  Dtype
--------------  -----
20 non-null     float64
dtypes: float64(1)
memory usage: 288.0 bytes
None
<class 'pandas.core.series.Series'>
RangeIndex: 20 entries, 0 to 19
Series name: Date
Non-Null Count  Dtype
--------------  -----
20 non-null     object
dtypes: object(1)
memory usage: 288.0+ bytes
None

<h4>7) Handling wrong and duplicate data in the DataFrame</h4>
<h5>Following tasks can be done for cleaning the DataFrame
<br/>> (i) Putting a value within a specific range in places where data is out of range 
<br/>> using: dataframe.loc[row_index,"col"]=new_value
<br/>> here we first need to locate the cells where the data is out of range (need to iterate through the rows: DataFrame.index)
<br/>> (ii) Removing the entire row where data is out of range 
<br/>> using: dataframe.drop(row_index,inplace=False)
<br/>> here we first need to locate the cells where the data is out of range (need to iterate through the rows: DataFrame.index)
<br/>> (iii) Removing the entire row where data duplicate 
<br/>> using: dataframe.drop_duplicates(inplace=False)
</h5>

In [155]:
# (i) Putting a value within a specific range in places 
# where data is out of range 
# using: dataframe.loc[row_index,"col"]=new_value
# here we first need to locate the cells where the data is out of range 
# (need to iterate through the row data: DataFrame.index)
# here we use the median value to replace the out of range values
import pandas as pd
df1=pd.read_csv("NIFTY50_EOD_Cleaning.csv")
median=df1["Low"].median()
print("Median=",median)
mean=df1["Low"].mean()
print("Mean=",mean)
# we are taking median because mean value is biased by extreme values
for n in df1.index:
    if df1.loc[n,"Low"]>20000:
        df1.loc[n,"Low"]=median
print(df1.head())

Median= 17680.95
Mean= 10845571.690000001
          Date      Open      High       Low     Close  Shares Traded  \
0  03-10-2022'  17102.10       NaN  17680.95  16887.35    285850587.0
1  04-10-2022'  17147.45  17287.30  17117.30  17274.30    231601639.0
2  06-10-2022'  17379.25       NaN  17680.95  17331.80    268239320.0
3   07-10-2022  17287.20  17337.35  17216.95  17314.65    216273136.0
4   10-10-2022  17094.35       NaN  17680.95  17241.00    234005512.0

   Turnover (Rs. Cr)
0           21860.54
1           18480.43
2           20404.46
3           17043.26
4           16220.67

In [156]:
# (ii) Removing the entire row where data is out of range 
# using: dataframe.drop(row_index,inplace=False)
# here we first need to locate the cells where the 
# data is out of range (need to iterate through the row data: DataFrame.index)
import pandas as pd
df1=pd.read_csv("NIFTY50_EOD_Cleaning.csv")
for n in df1.index:
    if df1.loc[n,"Low"]>20000:
        df1.drop(n,inplace=True)
print(df1.head())

Median= 17680.95
Mean= 10845571.690000001
           Date      Open      High       Low     Close  Shares Traded  \
1   04-10-2022'  17147.45  17287.30  17117.30  17274.30    231601639.0
3    07-10-2022  17287.20  17337.35  17216.95  17314.65    216273136.0
5    11-10-2022  17256.05  17261.80  16950.30  16983.55    282617982.0
7    13-10-2022  17087.35  17112.35  16956.95  17014.35    266438674.0
10   18-10-2022  17438.75       NaN  17434.05  17486.95    239493630.0

    Turnover (Rs. Cr)
1            18480.43
3            17043.26
5            22178.37
7            18189.64
10           18224.95

In [163]:
# (iii) Removing the entire row where data duplicate 
# using: dataframe.drop_duplicates(inplace=False))
# here we check the number of duplicate rows using
# DataFrame.duplicated()
import pandas as pd
df1=pd.read_csv("NIFTY50_EOD_Cleaning.csv")
dupcnt=(df1.duplicated()).sum() 
# adds the True and False values coming from duplicated() method
print("Number of Duplicate rows=",dupcnt)
df1.drop_duplicates(inplace=True)
dupcnt=(df1.duplicated()).sum()
print("Number of Duplicate rows=",dupcnt)

Number of Duplicate rows= 2
Number of Duplicate rows= 0

<h4>8) Finding Correlation between data in DataFrames</h4>
<h5>We use: 
<br/>> dataframe[‘column’].corr(dataframe[‘column’])
<br/>> to find the correlation between data points in one column in one dataframe and another column in same or other dataframe.
<br/>> The corr() method returns a value between -1 to +1
<br/>>>> Positive correlation: When data in one column increases or decreases and the same amount of change occurs in another column data then we say that the columns are positively correlated.
<br/>>>> Negative correlation: When data in one column increases or decreases and the same but opposite amount of change occurs in another column data then we say that the columns are negatively correlated.
<br/>> Using correlation we can observe data in one column and predict the possible movement of data in another correlated column.
</h5>

In [166]:
# Using dataframe[‘column’].corr(dataframe[‘column’])
# to find the correlation between data in columns
import pandas as pd
df1=pd.read_csv("NIFTY50_PE.csv")
df2=pd.read_csv("NIFTY50_EOD.csv")
print("Columns in NIFTY50 PE data:",df1.columns)
print("Columns in NIFTY50 EOD data:",df2.columns)
# finding the correlation between Close values and P/E values
print("Correlation=",df1["P/E"].corr(df2["Close"]))
# Correlation comes around: 0.943324959214238
# so, we observe a strong positive correlation close to 1
# hence, we can predict that if Close prices rise
# then the P/E also would rise and if Close prices fall
# then the P/E will also fall.

Columns in NIFTY50 PE data: Index(['Date', 'P/E'], dtype='object')
Columns in NIFTY50 EOD data: Index(['Date', 'Open', 'High', 'Low', 'Close', 'Shares Traded',
       'Turnover (Rs. Cr)'],
      dtype='object')
Correlation= 0.9433249592142385